/* Base Styles */

:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  min-height: 100vh;
  background-color: #f1f1f1;
  color: #262626;
  padding-bottom: 3rem;
}

img {
  display: block;
}

#header-container {
  margin-bottom: 30px;
  font-size: 15px;
}

/* Profile Styles */

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}

.profile {
  display: flex;
  align-items: flex-start; /* Align items at the top */
  margin-top: 2rem;
}

.profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 1.5rem;
  background-color: #fff !important; /* Trying to force a background colour */
  border: #466e64 solid 5px;
}

.profile-details {
  flex: 1; /* Take remaining space */
}

.profile-user-settings {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.profile-stats {
  display: flex;
  margin-bottom: 1rem;
}

.profile-stats ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.profile-stats li {
  margin-right: 1rem;
}

.profile-bio p {
  margin: 0;
}

/* Music video in bio */
#music-video-link {
  text-decoration: none;
}

/* Button styles */

.btn-profile-edit {
  border: #cecece solid 1px;
  border-radius: 2px;
  padding: 3px 15px;
  cursor: pointer;
}

.btn-profile-edit:hover {
  background-color: #cecece;
}

/* Cog button styles */

#settings-cog {
  border: 0;
}

#settings-cog:hover {
  cursor: pointer;
  background-color: #cecece;
  border: #cecece solid 0;
  border-radius: 60px;
}

/* Gallery items */

.visually-hidden {
  display: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three items per row */
  grid-gap: 1rem;
}

.gallery-item {
  position: relative;
  height: 350px;
}

.gallery-image {
  width: 100%;
  height: 100%; /* Adjust height */
  object-fit: cover; /* ensure images cover their space */
  border-radius: 5px;
}

.gallery-item-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Cover the whole width of the image */
  height: 100%; /* Cover the whole height of the image */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border-radius: 5px; /* Same as image */
  color: #fff;
  padding: 0.5rem;
  opacity: 0; /* Initially hide the element */
  transition: opacity 0.3s ease; /* Add transition effect for smooth appearance */
}

.gallery-item:hover .gallery-item-info {
  opacity: 1; /* Show the element when its parent is hovered over */
}

.gallery-item-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-item-info li {
  display: inline-block;
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.fa-heart,
.fa-comment,
.fa-video,
.fa-clone {
  margin-right: 0.2rem;
}

/* Hiding odd icon */

.fa-clone {
  display: none;
}
